body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section {
    max-height: 800px;
}

.login-outer-container {
    background-color: #4caf50;
    color: white;
    padding-left: 15px;
    text-align: center;
}

header {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#main-header {
    justify-content: space-between;
}

.input-group {
    margin-bottom: 15px;
}

/* Update input label styles */
.input-group label {
    color: #333; /* Set input label color to dark gray */
    margin-bottom: 5px;
    display: block;
}

.btn {
    max-width: 100px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn.secondary-btn {
    background-color: #ff9800;
}

.btn:hover {
    background-color: red;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.outer-container {
    align-items: flex-start;
    max-height: 600px;
}

#locations-side-bar {
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #333;
}

.map-container {
    padding: 10px 20px 20px 20px;
    width: 70%;
    height: 400px;
    margin-left: 20px;
}

#map {
    height: 100%; /* Set the map height to fill the container */
    width: 100%; /* Set the map width to fill the container */
}

#add-btn {
    margin-top: 20px;
    margin-left: auto;
}

.btn.primary-btn,
.btn.secondary-btn {
    margin: 0; /* Reset margin for the buttons */
}

.map-inner-container {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}



.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    max-width: 400px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Set text color inside the login container */
.login-container h1 {
    color: #333; /* Set a different color for the text */
}

/* Add hover effect to the login container */
.login-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Add hover effect to the login button */
.btn.primary-btn:hover {
    background-color: #45a049;
}

#form-btns-container {
    justify-content: space-between;
}

.footer-container {
    align-items: flex-start;
    text-align: left;
    font-size: 9px;
    line-height: 1.7;
}

#logo {
    padding-top: 10px;
    width: 200px;
    height: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 30px;
}

#inner-footer-1, #inner-footer-2 {
    margin-right: 30px;
    width: 300px;
}

#inner-footer-2 {
    align-items: center;
}

.authors {
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
}

#footer-links {
    margin-top: 10px;
    width: 100%;
    justify-content: flex-start;
    gap: 15px;
}

a {
    color: lightblue;
}



