body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a1823;
    margin: 0;
    padding: 0;
    color: white; /* Set text color to white for better visibility */
}

section {
    height: 90vw;
}

.login-outer-container {
    color: white;
    padding-left: 15px;
    text-align: center;
}

#main-header {
    background-color: #060f1656;
    color: white;
    border-bottom: solid 1px #ffffff56;
    padding: 10px 20px 10px 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#klimaware_logo {
    width: 300px;
    height: 70px;
    object-fit: cover;
}

.input-group {
    margin-bottom: 15px;
}

/* Update input label styles */
.input-group label {
    color: #333; /* Set input label color to dark gray */
    margin-bottom: 5px;
    display: block;
}

.btn {
    width: 80px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn.btn.primary-btn {
    background-color: #b7161d;
}

.btn.secondary-btn {
    background-color: #b7161e93;
}

.btn:hover {
    background-color: #8b0000; /* Darker maroon color on hover */
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.outer-container {
    align-items: flex-start;
    height: 400px;
}

#locations-side-bar {
    min-width: 300px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: #333;
}

.map-container {
    padding-bottom: 20px;
    width: 70%;
    height: 400px;
}

#map {
    height: 100%; /* Set the map height to fill the container */
    width: 100%; /* Set the map width to fill the container */
}

#add-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
}

.map-inner-container {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    max-width: 400px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Set text color inside the login container */
.login-container h1 {
    color: #333; /* Set a different color for the text */
}

/* Add hover effect to the login container */
.login-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Add hover effect to the login button */
.btn.primary-btn:hover {
    background-color: #8b0000; /* Darker maroon color on hover */
}

#form-btns-container {
    justify-content: space-between;
}

.footer-container {
    align-items: flex-start;
    text-align: left;
    font-size: 9px;
    line-height: 1.7;
}

#logo {
    padding-top: 10px;
    width: 200px;
    height: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 30px;
}

#inner-footer-1, #inner-footer-2 {
    margin-right: 30px;
    width: 300px;
}

#inner-footer-2 {
    align-items: center;
}

.authors {
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
}

#footer-links {
    margin-top: 10px;
    width: 100%;
    justify-content: flex-start;
    gap: 15px;
}

a {
    color: lightblue;
}

.location-form {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 12px;
    border: solid 1px grey;
    width: 500px;
    background-color: transparent;
    border-radius: 10px;
    text-align: left;
    transition: all 0.3s ease;
    margin: 0 auto; /* Center the container horizontally */
}

.location-form h1 {
    text-align: center;
}

.form-inner-container {
    width: 350px;
    margin: 0 auto;
}

.field {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.form-inner-container input, .form-inner-container select {
    width: 100%; /* Set the input fields to 100% width */
    height: 15px; /* Add some space between input fields */
    margin-top: 5px;
    color: white;
    background-color: #2c3942;
    border: solid 1px rgb(41, 41, 41);
    border-radius: 5px;
    padding: 8px;
}

.location-form select {
    padding: 8px;
    height: 33px;
}

.double-field {
    width: 100%;
    justify-content: space-between;
    gap: 25px;
}

#form-btns-container {
    margin: 0 auto;
    width: 300px;
}

#form-btns-container .flex-row {
    justify-content: space-around;
} 

.delete-btn {
    background-color: transparent;
    border: none;
    color: rgb(237, 18, 18);
    margin-top: 20px;
    font-size: 10px;
}









